/* src/components/AnimalGallery.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1511497584788-876760111969?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

.container {
  text-align: center;
  background: rgba(55, 55, 55, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

h2 {
  color: #ff6347;
  margin-bottom: 10px;
}

button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #e5533d;
}

.animal-gallery-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 150px); /* Full height minus header space */
  margin-top: 230px; /* Space for fixed header */
  margin-bottom: 200px;
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 0 80px; /* Ensure the gallery doesn't shift */
}

.animal-gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-bottom: 120px; /* Add padding to the bottom of the gallery */
}

.animal-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns */
  gap: 10px;
}

.animal-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInScale 0.5s forwards;
  filter: blur(10px);
}

@keyframes fadeInScale {
  to {
    opacity: 1;
    transform: scale(1);
  }
}